<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net45" />
  <package id="NodaTime" version="1.1.0" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2670-Unstable" targetFramework="net45" />
</packages>